$text-link-color: black;

$button-fab-color-alt: #8bc34a;
$button-fab-hover-color-alt: #8bc34a;
$button-fab-active-color-alt: #8bc34a;

$input-text-highlight-color: green;

$selectfield-font-size: 16px !default;
$selectfield-padding: 4px !default;
$selectfield-vertical-spacing: 20px !default;

$selectfield-highlight-color: green;

$radio-color: #8bc34a;
$radio-label-font-size: 14px;

$progress-main-color: #4CAF50;